.card {
  box-shadow: rgb(0, 0, 0) 0px 5px 15px;
  margin: 40px;
  padding: 30px;
}

.file {
  margin: 40px 20px;
  padding: 20px;
  border: 0.5px solid rgba(255, 255, 255, 0.185);
  border-radius: 8px;
  text-align: center;
}

.file > [type="file"] {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 10;
  cursor: pointer;
}

.file span {
  margin: 40px;
}

/* .file button {
  background: rgba(255, 255, 255, 0.096);
  padding: 10px 20px;
  border-radius: 4px;
} */

.control {
  margin: 20px;
}

.title {
  width: 100%;
  border: 0.5px solid rgba(255, 255, 255, 0.185);
  background: transparent;
  border-radius: 4px;
  height: 45px;
  padding-left: 10px;
  margin-top: 10px;
}

.list {
  /* margin-top: 20px; */
  border: 0.5px solid rgba(255, 255, 255, 0.185);
}

.hint {
  padding: 10px;
}
