@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  margin: 0 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.error {
  padding-top: 10px;
  padding-left: 25px;
  height: 20px;
  color: rgb(249, 47, 47);
  font-size: 14px;
}

.errorBorder {
  border: 1px solid rgba(249, 47, 47, 0.383);
}
