.button {
  background: black;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  transition: background-color 0.3s; /* Smooth transition */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}

.button:hover {
  background: #2b2b2b;
}

.button:active {
  background: #afaaaa;
}

.buttonFab {
  background: rgba(255, 255, 255, 0.07);
}

.buttonNormal {
  width: 100%;
  border-radius: 40px;
  height: 54px;
  letter-spacing: 0.24rem;
}

.buttonNormal:hover {
  filter: brightness(1.2);
}

.buttonNormal:active {
  filter: brightness(1.8);
}

.buttonOutlined {
  border: 1px solid rgba(255, 255, 255, 0.12);
  width: 100%;
  border-radius: 40px;
  height: 54px;
  letter-spacing: 0.24rem;
}
