.formGroup {
  position: relative;
}

.label {
  position: absolute;
  left: 24px;
  top: 18px;
  transition: 0.2s ease all;
  color: #ffffff;
  letter-spacing: 0.24rem;
  font-size: 14px;
}

.input {
  width: 100%;
  font-size: 14px;
  outline: none;
  background: rgba(255, 255, 255, 0.07);
  border-radius: 24px;
  padding-left: 24px;
  padding-top: 14px;
  height: 54px;
  letter-spacing: 0.24rem;
}

.input:focus + .label,
.input:not(:placeholder-shown) + .label,
.label.active {
  top: 4px;
  left: 24px;
  font-size: 10px;
}
